h1{
    font-weight: bold;
    text-align: center;
    color:rgb(255, 0, 221);
    background-color: pink;
}
p{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
hr{
    width: 200px;
}
#id001{
    color:blue
}
#id002{
    color:rgb(255, 0, 221);
}
#id003{
    color: green;
}
